.red {
    color: red;
}

body {
    background-color: black;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

svg {
    overflow: visible;
    margin: 20px; 
}

.wave {
    stroke: white; 
    stroke-width: 4;
    animation: pulse 2s infinite;
}

@keyframes pulse {
    0% {
        stroke-width: 4;
    }
    50% {
        stroke-width: 8;
    }
    100% {
        stroke-width: 4;
    }
}
